body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

#comicContainer {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  margin: 50px auto;
}

#comicPage {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#navButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #comicContainer {
    width: 90%;
  }

  #navButtons {
    width: 80%;
  }
}
