body {
  background-color: purple;
}

header {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
}

section {
  padding: 20px;
}

#home {
  text-align: center;
}

#gallery img {
  width: 1813px;
  height: 2619px;
}

footer {
  text-align: center;
}
